[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-login = "*"
flask-jwt-extended = "*"
psycopg2 = "*"
jsonpickle = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"

[scripts]
dev ="flask run"
