
flask
flask-sqlalchemy
flask-cors
flask-migrate
flask-login
flask-jwt-extended
psycopg2
jsonpickle
numpy
pillow
torch
torchvision
flask-mail
schedule
apscheduler
pytest
autopep8
pytest-cov
python_version
