<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uh oh, your plant needs watering</title>
  </head>
  <body>
    <main width="80%" style="margin: 0 auto">
      <nav width="100%"></nav>
      <h1 style="color: rgb(233, 56, 28); font-family: 'Arial', sans-serif">
        Hello, {{username}}!
      </h1>
      <strong style="color: grey; font-family: sans-serif"
        >Its been over {{water_freq}} days since you last watered
        {{plant_name}}</strong
      >
      <img
        width="100%"
        style="margin: 10px auto"
        src="https://cdn.pixabay.com/photo/2018/05/10/17/48/lego-3388163__480.png"
        alt="LegOh"
      />

      <a
        href="http://localhost:5173/"
        width="50%"
        style="
          padding: 10px;
          color: rgb(229, 103, 98);
          text-decoration: none;
          background-color: rgb(228, 233, 197);
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        "
      >
        Take me there!
      </a>
    </main>
  </body>
</html>
